<ion-view title="ChaTale">
    <ion-content overflow-scroll="true" padding="false" scroll="false" class="has-header">
        <h1>Tea Maker</h1>
        <form class="list">
            <label class="item item-select">
                <span class="input-label">Select type of Tea</span>
                <select>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </label>
        </form>
        <a ui-sref="selectSong" class="button  button-block ">Select Song</a>
        <ion-list></ion-list>
        <a ui-sref="first" class="button button-energized button-block button-large">Start Making Tea!</a>
    </ion-content>
</ion-view>