<ion-view title="First..">
    <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header">
        <form class="list"></form>
        <form class="list">
            <ion-checkbox>Pour Ingreients into cup</ion-checkbox>
            <ion-checkbox>Add Hot Water</ion-checkbox>
        </form>
        <h4>After adding water, select start</h4>
        <form class="list"></form>
        <a ui-sref="timer" class="button button-balanced button-block ">Start!</a>
    </ion-content>
</ion-view>