<ion-view title="Password Reset">
    <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header">
        <form class="list">
            <label class="item item-input">
                <input type="text" placeholder="Old Password">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="New Password">
            </label>
        </form>
        <a ui-sref="page9" class="button button-stable button-block ">Reset</a>
    </ion-content>
</ion-view>