<ion-view title="Timer">
    <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header">
        <h3>Time Until Perfection</h3>
        <div class="spacer" style="width: 279px; height: 32px;"></div>
        <h1>2:00</h1>
        <div class="spacer" style="width: 279px; height: 17px;"></div>
        <h3>Ready to serve!</h3>
        <div class="spacer" style="height: 100px;"></div>
        <a ui-sref="thanks" class="button button-balanced button-block ">Done!</a>
    </ion-content>
</ion-view>